body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 10px;
  color: white;
}
.hero {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("images/shenandoah.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero h1 {
  font-size: 5em;
  margin-top: 3em;
  margin-bottom: 1em;
  color: white;
}
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

#question {
  text-align: center;
  display: block;
  color: #505050;
}
#results {
  font-family: "Cultive Mono" "Regular";
  display: hidden;
  font-size: 30px;
  color: white;
}

#play {
  font-family: "Cultive Mono" "Regular";
  display: hidden;
  font-size: 30px;
  color: #505050;
  padding: 20px 40px;
  border-radius: 12px;
}

.container {
  display: inline-block;
  position: center;
  padding-left: auto;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 22px; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#score-board {
  text-align: center;
  font-family: "Cultive Mono" "Regular";
  font-size: 20px;
  color: white;
}

#count {
  text-align: center;
  font-family: "Cultive Mono" "Regular";
  font-size: 20px;
  color: white;
}

.button-group {
  display: none;
  text-align: center;
  font-family: "Cultive Mono" "Regular";
  color: #505050;
  font-size: 40px; 
  width: 100vw;
  height: 50vh;
  padding: 20px;
  margin: auto; 
}

.block {
  display: block;
  text-align: center;
}

label {
  font-size: 20px;
  vertical-align: middle; 
  text-align: right; 
}
input {
    vertical-align: middle; 
    align-items: right; 
}

